{% extends "layout.html" %}
{% block body %}
    <h2>用户管理</h2>
    <div class="page">
        <form action="/user_edit" method="POST" name="edit" role="form">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>用户名：</td>
                    <td>{{ form.user_id(id='user_id', class='form-control', onblur="check_user()") }}</td>
                    <td id="msg_user_id"></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td>{{ form.password(class='form-control') }}</td>
                </tr>
                <tr>
                    <td>姓名：</td>
                    <td>{{ form.user_name(class='form-control') }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="保存" class="btn btn-info"/></td>
                </tr>
            </table>
        </form>
    </div>
    {% if msg %}
        <p class="error"><strong>{{ msg }}</strong></p>
    {% endif %}
    <script>
        function check_user(){
            if check_null(){
                $('#msg_user_id').text('用户名不能为空！');
            }else{
                var vData;
                vData = {user_id: $(this).val()};
                vUrl = '{{ url_for('ajax_check_user') }}';
                ajaxForm(vUrl, '#msg_user_id', vData);
            }
        }
        function check_null() {
            if $(this).val() == ''{
                return true;
            }else{
                return false;
            }
        }
    </script>
{% endblock %}